@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717; 
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans-serif);
  --font-serif: var(--font-serif);
  --font-monospace: var(--font-monospace);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

html, body {
  background: var(--background);
  color: var(--foreground);
}

.font-serif {
  font-family: var(--font-serif);
}

.font-sans-serif {
  font-family: var(--font-sans);
}

.font-monospace {
  font-family: var(--font-monospace);
}

body {
  font-family: var(--font-sans);
}
